aiohttp
aiosignal
anyio
asgiref
async-timeout
attrs
certifi
cffi
charset-normalizer
colorama
curl-cffi
dataclasses-json
dj-database-url
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
frozenlist
geographiclib
geopy
gpt4-openai-api
greenlet
gunicorn
h11
httpcore
httpx
idna
langchain
langchainplus-sdk
marshmallow
multidict
mypy-extensions
numexpr
numpy
openai
OpenAIAuth
openapi-schema-pydantic
packaging
prompt-toolkit
psycopg2
psycopg2-binary
pycparser
pydantic
PyJWT
PySocks
python-decouple==3.8
python-weather==1.0.2
pytz==2023.3
PyYAML==6.0
regex==2023.6.3
requests==2.31.0
revChatGPT==6.0.1
sniffio==1.3.0
socksio==1.0.0
setuptools==75.2.0
SQLAlchemy==2.0.16
sqlparse==0.4.4
tenacity==8.2.2
tiktoken==0.4.0
tqdm==4.65.0
typing-inspect==0.9.0
typing_extensions==4.6.3
tzdata==2023.3
urllib3==2.0.3
wcwidth==0.2.6
weather-forecast==0.49
whitenoise==6.4.0
yarl==1.9.2
