aiohttp
aiosignal
anyio
asgiref
async-timeout
attrs
certifi
cffi
charset-normalizer
colorama
curl-cffi
dataclasses-json
dj-database-url
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
frozenlist
geographiclib
geopy
gpt4-openai-api
greenlet
gunicorn
h11
httpcore
httpx
idna
langchain
langchainplus-sdk
marshmallow
multidict
mypy-extensions
numexpr
numpy
openai
OpenAIAuth
openapi-schema-pydantic
packaging
prompt-toolkit
psycopg2
psycopg2-binary
pycparser
pydantic
PyJWT
PySocks
python-decouple
pytz
PyYAML
regex
requests
revChatGPT
sniffio
socksio
setuptools
SQLAlchemy
sqlparse
tenacity
tiktoken
tqdm
typing-inspect
typing_extensions
urllib3
wcwidth
whitenoise
yarl
